@using System.Configuration;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/NavBar.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Images/favicon-32x32.png">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="margin: 0; padding: 0;">

    <div class="top-bar">
        <h1>@ConfigurationManager.AppSettings["communityName"].ToString()</h1>
    </div>
    
    <div class="side-bar">
        <p>@HttpContext.Current.Session["username"]</p>
        @Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Players", "Index", "Players", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Vehicles", "Index", "Vehicles", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Houses", "Index", "Houses", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Gangs", "Index", "Gangs", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Staff", "Index", "Staff", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Support cases", "Index", "SupportCases", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Settings", "Index", "Settings", new { area = "" }, new { @class = "sidebar-button" })
        @Html.ActionLink("Logout", "Index", "Logout", new { area = "" }, new { @class = "sidebar-button" })
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="margin-left: 300px; margin-top: 70px;">
            <p>&copy; @DateTime.Now.Year - Theo Crowley</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
